@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom global */
:root {
  --panel: #0e1a2a;
  --panel-2: #0b1724;
  --muted: #99a6bf;
}

/* scrollbar thin */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.08);
  border-radius: 10px;
}
